@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	position: relative;
	min-height: 100vh;
	font:  16px/1.6 'Poppins', cursive, helvetica, system-ui, sans-serif;
	margin: 0;
	background: url('blob-scatter-haikei.svg')fixed no-repeat center/cover;
}
h1{
	text-align: center;
	background: linear-gradient(slateblue, cyan);
	font-size: 2.5rem;
	-webkit-background-clip:  text;
	-webkit-text-fill-color:  transparent;
	color:  red;
	margin: 0;
}
.score{
	height: 3rem;
	width: 3rem;
	margin:  0.5rem;
	display: grid;
	place-items: center;
	border-radius: 50%;
	border: 5px solid transparent;
	background: white linear-gradient(135deg, gray 50%, dimgray 50%);
	font-size: 1.5rem;
	color: whitesmoke;
}
.score__count{
	border-color: lightblue;
}
.score__rights{
	border-color: lightgreen;
}
.score__wrongs{
	border-color: salmon;
}
#board{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 1rem;
}
#cards{
	display: grid;
	grid-template-columns: repeat(auto-fit, 120px);
	gap: 1rem;
	padding: 0.5rem;
	margin: 0 auto;
	max-width: 680px;
	perspective: 1000px;
}
.card{
	position: relative;
	width: 120px;
	height: 120px;
	transition: transform 0.25s;
	transform-style: preserve-3d;
	cursor: pointer;
	box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.5);
	border-radius: 1rem;
	border:  5px solid slategray;
}
.card.flip{
	transform: rotateY(180deg);
}
.card.match{
	cursor: default;
	user-select: none;
	border-color: lightgreen;
}
.card__front,
.card__back{
	position: absolute;
	inset: 0;
	display: grid;
	place-items: center;
	backface-visibility: hidden;
	border-radius: 1rem;
}
.card__back{
	background: repeating-linear-gradient(135deg, whitesmoke, whitesmoke 5px, deepskyblue 5px, deepskyblue 30px);
}
.card__front{
	background: whitesmoke;
	font-size: 4rem;
	transform: rotateY(180deg);
}
#endGame{
	position: absolute;
	inset:  0;
	display: none;
	place-items: center;
	background: rgba(0, 0, 0, 0.5);
}
#endGame.active{
	display: grid;
}
.modal{
	text-align: center;
	padding:  1rem 4rem;
	min-width: 50%;
	background: whitesmoke;
	border-radius: 0.5rem;
	box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.9);
}
.congrats{
	font-size: 2rem;
	font-weight: bold;
	margin: 1rem 1rem 1.5rem;
	background:  linear-gradient(90deg, red, purple, blue, cyan);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.button{
	display: inline-block;
	margin: 0 auto;
	padding: 0.5rem 2rem;
	border:  2px solid whitesmoke;
	border-radius: 0.5rem;
	background: white;
	color: dimgray;
	text-decoration: none;
	font-weight: bold;
	box-shadow: 0 0 10px -2px;
}